@model IQueryable<Product>

@foreach (var p in Model ?? Enumerable.Empty<Product>())
{
    <div>
        <h4>@p.Name</h4>
        <p>@p.Description</p>
        <small>@p.Price.ToString("c")</small>
    </div>
}